name: ci

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest

    outputs:
      diff: ${{ steps.get-diff.outputs.diff }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get diff
        id: get-diff
        run: |
          DIFF=$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | xargs)
          echo "::set-output name=diff::${DIFF}"

  config:
    runs-on: ubuntu-latest

    needs: setup

    if: ${{ needs.setup.outputs.diff }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: echo Check lint

      - name: Check configs
        run: npx ts-mocha ./test/check-json-schemas.ts

      - name: Check one update at a time
        run: npx ts-mocha ./test/check-file-changes.ts --diff=${{needs.setup.outputs.diff}}

  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Code freeze
        run: echo Check if code freeze

      - name: Live release
        run: echo Check if release is live
