name: ci

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Get diff
        id: get-diff
        run: |
          DIFF=$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | xargs)
          echo "diff=${DIFF}" >> $GITHUB_OUTPUT

      - name: Run Prettier
        run: npm run prettier

      - name: Run ESLint
        run: npm run lint

      - name: Check TypeScript
        run: tsc --noEmit

      - name: Run unit tests
        run: npx ts-mocha ./test/scripts/*.ts

      - name: Check configs
        run: npx ts-mocha ./test/check-json-schemas.ts

      - name: Check versions.json whitespace
        run: npx ts-mocha ./test/check-versions-whitespace.ts

      - name: Check file changes
        run: npx ts-mocha ./test/check-file-changes.ts --diff="${{ steps.get-diff.outputs.diff }}"

      - name: Check releases
        run: npx ts-mocha ./test/check-live-release.ts --diff="${{ steps.get-diff.outputs.diff }}"
