name: Post promote tasks

on:
  pull-request:
    types:
      - closed
    branches:
      - 'main'
    paths:
      - 'configs/version.json'

jobs:
  setup:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    outputs:
      tasks: ${{ steps.get-tasks.outputs.tasks }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Get tasks
        id: get-tasks
        run: |
          TASKS=$(npx ts-node ./scripts/post-promote-tasks-job.ts --head="${{ github.event.pull_request.merge_commit_sha }}" --base="${{ github.event.pull_request.base.sha }}")
          echo "::set-output name=tasks::{\"include\":${TASKS}}"

  tasks:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.tasks) }}
    steps:
      - name: Trigger publish-npm-packages workflow on amphtml
        uses: fjogeleit/http-request-action@v1
        with:
          url: 'https://api.github.com/repos/ampproject/amphtml/actions/workflows/publish-npm-packages.yml/dispatches'
          data: '{"ref": "main", "inputs": {"amp-version": "${{ matrix.amp-version }}", "tag": "${{ matrix.npm-tag }}"}}'
          bearerToken: ${{ secrets.ACCESS_TOKEN }}

  create-issue-on-error:
    if: failure()
    needs: [setup, tasks]
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create issue on error
        uses: JasonEtco/create-an-issue@v2
        with:
          filename: .github/create_issue_on_error.md
        env:
          GITHUB_TOKEN: ${{ github.token }}
          WORKFLOW_NAME: ${{ github.workflow }}
          MENTION: '@estherkim' #TODO(estherkim): switch to infra team once debug complete
          REPO_SLUG: ${{ github.repository }}
          RUN_ID: ${{ github.run_id }}
