# Promotes a new build to the Nightly channel on a schedule.

name: Promote Nightly Channel

on:
  workflow_dispatch:
    inputs:
      amp-version:
        description: 'AMP version number (13 digits)'
        required: true
        type: string
      auto-merge:
        description: 'Enable PR auto-merge'
        required: true
        default: true
        type: boolean

jobs:
  promote-nightly:
    uses: ampproject/cdn-configuration/.github/workflows/promote-reusable-workflow.yml@main
    with:
      channel-name: 'Nightly'
      ts-file: 'promote-nightly.ts'
      amp-version: ${{ github.event.inputs.amp-version }}
      auto-merge: ${{ github.event.inputs.auto-merge }}
    secrets:
      access-token: ${{ secrets.ACCESS_TOKEN }}

  npm-publish-nightly:
    needs: promote-nightly
    runs-on: ubuntu-latest
    steps:
      - name: Trigger publish-npm-packages workflow on amphtml
        uses: fjogeleit/http-request-action@main
        with:
          url: 'https://api.github.com/repos/ampproject/amphtml/actions/workflows/publish-npm-packages.yml/dispatches'
          data: '{"ref": "main", "inputs": {"amp-version": "${{ needs.promote-nightly.outputs.amp-version }}", "tag": "nightly"}}'
          bearerToken: ${{ secrets.ACCESS_TOKEN }}
