# Promotes a new build to the Nightly channel on a schedule.

name: Promote Nightly Channel

on:
  workflow_dispatch:
    inputs:
      amp-version:
        description: 'AMP version number (13 digits)'
        required: true
        type: string
      auto-merge:
        description: 'Enable PR auto-merge'
        required: true
        default: true
        type: boolean

jobs:
  promote-nightly:
    uses: ampproject/cdn-configuration/.github/workflows/promote-reusable-workflow.yml@main
    with:
      channel-name: 'Nightly'
      ts-file: 'promote-nightly.ts'
      amp-version: ${{ github.event.inputs.amp-version }}
      auto-merge: ${{ github.event.inputs.auto-merge }}
    secrets:
      access-token: ${{ secrets.ACCESS_TOKEN }}

