# Promotes the cherry-picked release into all related channels
# Triggered by circleci job on amphtml

name: Promote Cherry-Picks

on:
  workflow_dispatch:
    inputs:
      amp-version:
        description: 'AMP version number (13 digits)'
        required: true
        type: string
      auto-merge:
        description: 'Enable PR auto-merge'
        required: true
        default: true
        type: boolean

jobs:
  promote-cherry-picks:
    uses: ampproject/cdn-configuration/.github/workflows/promote-reusable-workflow.yml@main
    with:
      channel-name: 'Cherry-pick'
      ts-file: 'promote-cherry-picks.ts'
      amp-version: ${{ github.event.inputs.amp-version }}
      auto-merge: ${{ github.event.inputs.auto-merge }}
    secrets:
      access-token: ${{ secrets.ACCESS_TOKEN }}

  get-channels:
    needs: promote-cherry-picks
    runs-on: ubuntu-latest
    outputs:
      channels: ${{ steps.get-channels-step.outputs.channels }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install Dependencies
        run: npm ci

      - name: Get channels
        id: get-channels-step
        run: |
          CHANNELS=$(npx ts-node ./scripts/get-channels-job.ts --amp_version="${{ github.event.inputs.amp-version }}")
          echo "::set-output name=channels::${CHANNELS}"

  npm-publish-latest:
    needs: [get-channels, promote-cherry-picks]
    if: contains(needs.get-channels.outputs.channels, 'stable')
    runs-on: ubuntu-latest
    steps:
      - name: Trigger publish-npm-packages workflow on amphtml
        uses: fjogeleit/http-request-action@main
        with:
          url: 'https://api.github.com/repos/ampproject/amphtml/actions/workflows/publish-npm-packages.yml/dispatches'
          data: '{"ref": "main", "inputs": {"amp-version": "${{ needs.promote-cherry-picks.outputs.amp-version }}", "tag": "latest"}}'
          bearerToken: ${{ secrets.ACCESS_TOKEN }}

  npm-publish-nightly:
    needs: [get-channels, promote-cherry-picks]
    if: contains(needs.get-channels.outputs.channels, 'nightly')
    runs-on: ubuntu-latest
    steps:
      - name: Trigger publish-npm-packages workflow on amphtml
        uses: fjogeleit/http-request-action@main
        with:
          url: 'https://api.github.com/repos/ampproject/amphtml/actions/workflows/publish-npm-packages.yml/dispatches'
          data: '{"ref": "main", "inputs": {"amp-version": "${{ needs.promote-cherry-picks.outputs.amp-version }}", "tag": "nightly"}}'
          bearerToken: ${{ secrets.ACCESS_TOKEN }}
