name: Require QA Approval

on:
  pull_request_review:
    types: [submitted]

jobs:
  is-approved-by-qa:
    if: startsWith(github.event.pull_request.head.ref, 'promote-job-stable') || startsWith(github.event.pull_request.head.ref, 'promote-job-beta-experimental-traffic')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Fail if QA did not approve
        run: npx tsx ./scripts/check-qa-approval.ts --pull_number=${{ github.event.pull_request.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.READ_ORG }}
